@page
@model Jijie_Valentin_ProiectF1.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Localizer["Teams"]</h1>

<p>
    <a asp-page="Create">@Localizer["Create new"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">@Localizer["Edit"]</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">@Localizer["Details"]</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">@Localizer["Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
