@page
@model Jijie_Valentin_ProiectF1.Pages.Races.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>@Localizer["Race"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.RaceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.RaceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.RaceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.RaceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Season.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Race.ID" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index">@Localizer["Back"]</a>
    </form>
</div>
