@page
@model Jijie_Valentin_ProiectF1.Pages.Races.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Race"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.RaceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.RaceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.RaceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.RaceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Season.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Race.ID">@Localizer["Edit"]</a> |
    <a asp-page="./Index">@Localizer["Back"]</a>
</div>
