@page
@model Jijie_Valentin_ProiectF1.Pages.Seasons.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>@Localizer["Delete"]</h1>

<h3>@Localizer["Sure"]</h3>
<div>
    <h4>@Localizer["Season"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Season.SeasonYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season.SeasonYear)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Season.ID" />
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger" /> |
        <a asp-page="./Index">@Localizer["Back"]</a>
    </form>
</div>
